<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div>
        <label>First name: </label>
        <input type="text" formControlName="firstName">
    </div>
    <div>
        <label>Mid name: </label>
        <input type="text" formControlName="midName">
    </div>
    <div>
        <label>Last name: </label>
        <input type="text" formControlName="lastName">
    </div>
    <div class="error" *ngIf="reactiveForm.hasError('nameAllow')">You must enter name!</div>
    <button type="submit">Submit</button>
</form>